<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379170861954-vkqrt9n105dcai6ihnb1jv1e6545h9dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379170861954-vkqrt9n105dcai6ihnb1jv1e6545h9dh</string>
	<key>API_KEY</key>
	<string>AIzaSyBgUqktYqI_Nr4wioAplmMml8Bd10ZqWZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>379170861954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bizman.bizmanooh</string>
	<key>PROJECT_ID</key>
	<string>bizooh-app-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>bizooh-app-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379170861954:ios:f53f3d8f53d9a59442959b</string>
</dict>
</plist>